{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
  <header>
    {{ title_prefix }}
    {% if not page %}
      <h2{{ title_attributes.addClass('node__title') }}>
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      </h2>
    {% endif %}
    {{ title_suffix }}
    {% if display_submitted %}
      <div class="node__meta">
        {{ author_picture }}
        <span{{ author_attributes }}>
          {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
        </span>
        {{ metadata }}
      </div>
    {% endif %}
  </header>
  <div{{ content_attributes.addClass('node__content', 'clearfix') }}>

    {# Displays password based on HOOK_preprocess criteria #}
    {% if show_password %}

      <hr/>

      <h2>Admin Only</h2>

      <p>
        This node has temporary restricted access to anonymous users.
      </p>

      <p>
        Restricted Access Expires:
        <strong>{{ content.field_embargo_date }}</strong>
      </p>

      <p>
        Access Password:
        <strong>{{ content.field_embargo_password }}</strong>
      </p>

      <hr/>

    {% endif %}

    {# Content will ONLY be displayed if authorized, otherwise the password form is displayed #}
    {% if authorized_content %}

      {{ content.body }}

    {% else %}

      {{ auth_form }}

    {% endif %}

  </div>
</article>
